<app-home-top-bar></app-home-top-bar>

<div class="containers">
    <div class="col-12 content">
        <div class="title">
            <div class="title-label">Privacy <span class="dark-blue">Policy</span></div>
        </div>
        <div class="desc pt-3">
            The protection of your Personal Information during the collection, processing and use of our APP is an
            important concern for us. Before using conneXtion (our “App”), please read this Privacy Policy carefully.
            <br /><br />

            This Privacy Policy sits in line with Malaysia`s Personal Information Protection Act 2010 (“PDPA”) and the
            General Data Protection Regulation (“GDPR”). <br />
        </div>

        <div class="subtitle">The Controller</div>
        <div class="desc">
            The responsible entity within the meaning of the PDPA and GDPR is:<br /><br />

            57 CODEBOX SDN BHD<br />
            3A-1C, 3A Floor, Tower 2 @ PFCC,<br />
            Jalan Puteri 1/2, Bandar Puteri,<br />
            47100 Puchong, Selangor, Malaysia.<br /><br />

            If you have any questions or comments about our Privacy Policy or wish to exercise your rights, please
            contact us using <a href="mailto:hello@57codebox.com">hello@57codebox.com</a>, or call <span style="color: #4880d4;">+603 8068 9060</span> or write to us at the above
            address.<br /><br />
        </div>

        <div class="subtitle">Collection and processing of data</div>
        <div class="desc">
            Personal Information is only collected if you provide this information voluntarily, for example as part of a
            registration, login, or enquiry. Only data that is required to fulfil the functionality of the App will be
            collected.
            The data is only collected and processed for a specific purpose. <br /><br />
        </div>

        <div class="subtitle">Your Rights and Privileges </div>
        <div class="desc">
            <ol type="a">
                <li>Privacy rights</li><br />
                <div class="desc">
                    Under the PDPA, you can exercise the following rights: <br />
                    <ul>
                        <li>Right to access</li>
                        <li>Right to correction</li>
                        <li>Right to deletion</li>
                        <li>Right to data portability</li>
                        <li>Right to object to direct marketing and profiling</li>
                        <li>Right to withdraw consent</li>
                        <li>Right to complain to a supervisory authority</li>
                    </ul>
                </div><br />
                <div class="desc">
                    Under the GDPR, you can exercise the following rights: <br />
                    <ul>
                        <li>Right to information</li>
                        <li>Right to rectification</li>
                        <li>Right to object to processing</li>
                        <li>Right to deletion</li>
                        <li>Right to data portability</li>
                        <li>Right of objection</li>
                        <li>Right to withdraw consent</li>
                        <li>Right to complain to a supervisory authority</li>
                        <li>Right not to be subject to a decision based solely on automated processing.</li>
                    </ul>
                </div><br />

                If you have any questions about the nature of the Personal Information we hold about you, or if you wish
                to request the erasure or rectification of Personal Information we hold about you, or to exercise any of
                your other rights as a data subject, please contact us.
                <br /><br />

                <li>Updating your information</li>
                <div class="desc">
                    If you believe that the information, we hold about you is inaccurate or that we are no longer
                    entitled to use it and want to request its rectification, deletion, or object to its processing,
                    please do so by contacting us. <br />
                </div><br />

                <li>Withdrawing your consent</li>
                <div class="desc">
                    You can revoke consents you have given at any time by contacting us. The legality of the data
                    processing carried out until the revocation remains unaffected by the revocation.<br />
                </div><br />

                <li>Access Request </li>
                <div class="desc">
                    In the event that you wish to make a Data Subject Access Request, you may inform us in writing of
                    the same.
                    We will respond to requests regarding access and correction as soon as reasonably possible.
                    Should we not be able to respond to your request within thirty (30) days after receiving your
                    request, we will let you know in writing within thirty (30).
                    If we are unable to comply with your request, we will tell you why
                    (except where we are not required to do so under the respective legal regulations mentioned
                    above).<br />
                </div><br />

                <li>Complaint to a supervisory authority</li>
                <div class="desc">
                    You have the right to complain about our processing of Personal Information to a supervisory
                    authority responsible for data protection.
                    The supervisory authority in Malaysia is: The Personal Information Protection Commissioner, Aras 6,
                    Kompleks Kementerian Komunikasi dan Multimedia, Lot 4G9, Persiaran Perdana, Presint 4, Pusat
                    Pentadbiran Kerajaan Persekutuan,
                    62100 Putrajaya, Malaysia <a href="https://daftar.pdp.gov.my/">https://daftar.pdp.gov.my/</a> 
                </div>
            </ol><br />
        </div>

        <div class="subtitle">Relevant legal basis</div>
        <div class="desc">
            In accordance with the PDPA and GDPR, we need to have at least one of the following legal bases to process
            your Personal Information: <br />
            <ul>
                <li>consent</li>
                <li>to fulfil our services and carry out contractual obligations</li>
                <li>to fulfil our legal obligations, and</li>
                <li>to protect our legitimate interests.</li>
            </ul><br />
        </div><br />
    

        <div class="subtitle">Downloading and Installation of our App and Data Collected by Google and Apple</div>
        <div class="desc">
            Our APP can be downloaded from the app stores "Google Playstore" and "Apple App Store". Downloading our APP may
            require prior registration with the respective APP store and installation of the app store software. <br /><br />
            
            <ol type="a">
                <li>APP installation via the Google Playstore</li>
                <div class="desc">
                    You can use the Google service "Google Play" of <a href="https://policies.google.com/privacy?hl=en-US">Google LLC</a>, 1600 Amphitheatre Parkway Mountain View, CA
                    94043, US, if you are resident outside the EU and Google Ireland Limited ("Google"),
                    Gordon House, Barrow Street, Dublin 4, Ireland if you are a resident within the EU, to install our
                    APP.<br /><br />

                    As far as we are aware, Google collects and processes the following data;<br />
                    <ul>
                        <li>License check,</li>
                        <li>network access,</li>
                        <li>network connection,</li>
                        <li>WLAN connections,</li>
                        <li>location information,</li>
                    </ul><br />

                    It cannot be ruled out that Google also transmits the information to a server in a third country.
                    We cannot influence which Personal Information Google processes with your registration and the provision
                    of downloads
                    in the respective app store and app store software. The responsible party in this respect is solely
                    Google as the operator of the Google Play Store.
                    You can find more detailed information in Google's privacy policy, which you can access here:
                    <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>. 
                </div><br /><br />

                <li>APP installation via the Apple App Store</li>
                <div class="desc">
                    You can use the Apple App service "App Store" a service of <a href="https://www.apple.com/legal/privacy/en-ww/">Apple Inc.</a>, 1 Infinite Loop,
                    Cupertino, CA 95014, US, if you are resident outside the EU and Apple Distribution International Ltd,
                    Hollyhill Industrial Estate, Hollyhill Ln,
                    Knocknaheeney, Cork, Ireland, if you are a resident within the EU, to install our APP.<br /><br />

                    As far as we are aware, Apple collects and processes the following data;<br />
                    <ul>
                        <li>device identifiers,</li>
                        <li>IP addresses,</li>
                        <li>location information,</li>
                    </ul><br />

                    It cannot be excluded that Apple also transmits the information to a server in a third country.
                    We cannot influence which Personal Information Apple processes with your registration and the provision
                    of downloads in the respective app store and app store software. The responsible party in this respect
                    is solely Apple as the operator of the Apple App Store.
                    You can find more detailed information in Apple's privacy policy, which you can access here:
                    <a href="https://www.apple.com/legal/privacy/">https://www.apple.com/legal/privacy/</a>. 
                </div><br /><br />

                <li>Device information</li>
                <div class="desc">
                    We or rather Google and Apple collect information from and about the device(s) you use to access our
                    APP,
                    including hardware and software information such as IP address, device ID and type, device-specific and
                    APP settings and properties, APP crashes, advertising IDs (such as Google's AAID and Apple's IDFA),
                    both randomly generated numbers, information about your wireless and mobile network connection such as
                    your service provider and signal strength; information about device sensors such as accelerometer,
                    gyroscope and compass.
                </div>
                <br /><br />
            </ol>
        </div>

        <div class="subtitle">Sign up and Profile</div>
        <div class="desc">
            A user profile will be created for you based on the information you provide during the sign up
            through our APP
            downloadable from "Google Playstore" and "Apple App Store". You have the option of adjusting,
            changing, or deleting the
            information in your account and profile or by contacting us. The data processing carried out in this
            context is necessary
            to provide our service on the basis of the requests made by you.
            For further information on Processing your Personal Information through our website please refer to
            our Website Privacy Policy.
        </div>
        <br />

        <div class="subtitle">When using our services</div>
        <div class="desc">
            We process the data of our registered users in order to be able to provide our contractual
            services as well as to ensure the security of our services and to be able to develop it further.
            This includes in particular our support, correspondence with you, invoicing, fulfilment of our
            accounting and tax obligations.
            Accordingly, the data is processed on the basis of fulfilling our contractual obligations as well as
            to fulfil our legal obligations.<br /><br />

            Some of the data you choose to provide may be considered non-Personal Information and/or “special”
            or “sensitive” in certain jurisdictions,
            for example your racial or ethnic origins, sexual orientation, and religious beliefs.
            By choosing to provide this data, you consent to our processing of that data.<br /><br />

            Where any Personal Information relates to a third party, you represent and warrant that the Personal
            Information is up-to-date, complete,
            and accurate and that you have obtained the third party’s prior consent for our collection, use and
            disclosure of their Personal Information for the Purposes.
            You agree that you shall promptly provide us with written evidence of such consent upon demand by
            us. <br /><br />

            Unless otherwise specified the purposes of processing are contractual performance and service,
            contact requests and communication,
            office and organisational procedures, administration, and response to requests, visit action
            evaluation.
            The legal basis for the data processing is the fulfilment of our contractual obligations and, in
            individual cases,
            the fulfilment of our legal obligations as well as your consent.

        </div>
        <br />

        <div class="subtitle">When you contact us</div>
        <div class="desc">
            If you contact us, we collect the following information so we can help:<br />
            <ul>
                <li>
                    the email address you use and the contents of your email (and any attachments); and
                </li>
                <li>
                    public details from your social media profile if you reach out to us via these platforms, and the contents of your messages or posts to us.
                </li>
            </ul>
        </div>
        <br />

        <div class="subtitle">How we share information</div>
        <div class="desc">
            We share some user information with service providers and partners who help us operate the Services, and in some cases with legal authorities. <br /><br />

            We use third parties to help us operate and improve our services. These third parties assist us with various tasks, 
            including data hosting and maintenance, analytics, customer support, marketing, advertising and security measures. <br /><br />

            We may also share information with partners who distribute our services and assist us with advertising. 
            For example, we may share limited information about you in hashed, non-human readable form with advertising partners. <br /><br />

            We follow a rigorous vetting process before engaging a service provider or working with a partner. 
            All our service providers and partners should commit to strict confidentiality. <br /><br />

            We may transfer your information if we are involved in whole or in part in a merger, sale, acquisition, divestiture, 
            restructuring, reorganization, dissolution, bankruptcy or other change of ownership or control. <br /><br />

            We may disclose your information if reasonably necessary: (i) to comply with a legal process, such as a court order, 
            subpoena or search warrant, government/legal investigation, or other legal requirement; 
            (ii) to assist in the prevention or detection of crime (in each case, subject to applicable law); 
            or (iii) to protect the safety of any person. <br /><br />

            We may also disclose information: (i) if disclosure would reduce our liability in actual or threatened litigation; 
            (ii) if necessary to protect our legal rights and the legal rights of our users, business partners or other interested parties; 
            (iii) to enforce our agreements with you; and (iv) to investigate, prevent, or take other action regarding illegal activities, 
            suspected fraud, or other misconduct. <br /><br />

            We may ask for your consent to share your information with third parties. In any such case, we will make clear why we want to share the information.<br /> 

        </div>
        <br />

        <div class="subtitle">Storage period</div>
        <div class="desc">
            Unless a more specific retention period is stated within this privacy policy, we will retain your Personal Information on our Huawei Cloud Servers at 
            their Singapore location until the purpose for processing it no longer applies. If you assert a legitimate request for deletion or revoke your consent 
            to data processing, your data will be deleted unless we have other legally permissible reasons for storing your Personal Information (e.g., retention periods 
            under tax or commercial law); in the latter case, the data will be deleted once these reasons no longer apply. <br />
        </div>
        <br />

        <div class="subtitle">Authorizations and Access</div>
        <div class="desc">
            We may request access or permission to your internet connection, GPS position (Geo Location), and camera of your device from your mobile device for 
            attendance purpose. The legal basis for data processing is our legitimate interest and the provision of contractual or pre-contractual measures. 
            You can revoke or adjust your permissions at any time via your device`s Settings Menu.<br />
        </div>
        <br />

        <div class="subtitle">Push messages</div>
        <div class="desc">
            When you use the App, you will receive so-called push messages using the service of Google Firebase from us, even if you are not currently using the App. 
            These are messages that we send you as part of the performance of the contract. You can adjust or stop receiving push messages at any time via the device 
            settings of your device. Google receives information about the installed app and its usage, the temporary unique device identifier, the current location 
            linked to the temporary unique device identifier; your IP address, type of your device, type and version of your operating system, your mobile carrier, 
            your language settings, time sone and network settings. 
            Insofar as you consent to the use of push messages, consent is the legal basis for the processing. <br />
        </div>
        <br />

        <div class="subtitle">Security measures</div>
        <div class="desc">
            We take appropriate technical and organizational measures in accordance with the legal requirements, taking into account the state of the art, 
            the implementation costs and the nature, scope, circumstances and purposes of the processing, as well as the varying likelihood and severity of 
            the risk to the rights and freedoms of natural persons, in order to ensure a level of protection appropriate to the risk. <br /><br />

            The measures include, in particular, ensuring the confidentiality, integrity and availability of data by controlling physical 
            access to the data, as well as access to, input, disclosure, ensuring availability and segregation of the data. We also have 
            procedures in place to ensure the exercise of data subjects' rights, deletion of data and response to data compromise. 
            Furthermore, we already take the protection of Personal Information into account in the development and selection of hardware, 
            software, and procedures, in accordance with the principle of data protection through technology design and through data 
            protection-friendly default settings. <br /><br />

            For security reasons and to protect the transmission of confidential content that you send to us as the provider, 
            this platform uses TLS encryption (Transport Layer Security), or better known as SSL (Secure Sockets Layer), which is now obsolete. 
            You can recognise the secure, encrypted connection to this platform by the identifier https:// of the entry in the URL line (address line) 
            of the browser used and/or the green lock symbol. HTTPS stands for Hypertext Transfer Protocol Secure. <br /><br />

            We would like to point out that data transmission on the Internet (e.g., when communicating by e-mail) can have security gaps. Complete 
            protection of data against access by third parties is not possible. <br /><br />

            Databases or data sets that include Personal Information may be breached inadvertently or through wrongful intrusion. Upon becoming aware 
            of a data breach, we will notify all affected individuals whose Personal Information may have been compromised, and the notice will be accompanied 
            by a description of action being taken to reconcile any damage as a result of the data breach. Notices will be provided as expeditiously as 
            possible after which the breach was discovered. <br />
        </div>
        <br />

        <div class="subtitle">Cooperation with processors</div>
        <div class="desc">
            If, in the course of our processing, we disclose data to other persons and companies (processors, jointly responsible persons or third parties), 
            transfer it to them or otherwise grant them access to the data, this will only be done on the basis of legal permission, users have consented, 
            a legal obligation provides for this or on the basis of our legitimate interests. <br /><br />

            If we disclose or transfer data to other companies in our group of companies or otherwise grant them access, this is done in particular for 
            administrative purposes as a legitimate interest and, in addition, on a basis that complies with the legal requirements. <br />
        </div>
        <br />

        <div class="subtitle">Automated decision-making</div>
        <div class="desc">
            We do not use automated decision-making or profiling.
        </div>
        <br />

        <div class="subtitle">Do Not Sell My Personal Information</div>
        <div class="desc">
            We do not sell information that directly identifies you.
        </div>
        <br />

        <div class="subtitle">Changes</div>
        <div class="desc">
            We may update this Privacy Policy from time to time. If we make changes to this Privacy Policy or materially change our use of your 
            Personal Information, we will revise the Privacy Policy accordingly. This Cookie Policy was last updated on Saturday, 11 February 2023.
        </div>
        <br />

        <div class="subtitle">Questions</div>
        <div class="desc">
            We encourage you to periodically review this Privacy Policy to be informed of how we use and protect your Personal Information. 
            If you have any questions or comments about our Privacy Policy or wish to exercise your rights, please contact us using 
            <a href="mailto:hello@57codebox.com">hello@57codebox.com</a>, or call <span style="color: #4880d4;">+603 8068 9060</span> or write to us at the above address.

        </div>
        <br />

    </div>
</div>

<app-connextion-footer></app-connextion-footer>