.title {
    height: 60px;
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    // margin-bottom: 15px;
    // background-color: #F1F6FF;

    .title-label {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #608EE9;
        text-align: left;
        .dark-blue {
            color: #153238;
        }
    }
    .line {
        height: 2px;
        width: 150px;
        background: black;
    }
}

.containers {
    padding: 0.3% 9.9% 1.7% 9.9%;
    background-color: #F5F5F5;
    text-align: justify;

    .desc {
        color: #30385F;
        font-size: 14px;
        font-weight: normal;
    }

    .subtitle {
        font-size: 16px;
        font-weight: 600;
        // text-decoration: underline;
        margin-top: 15px;
        margin-bottom: 2px;
    }

    .content {
        padding: 25px 50px;
        background-color: #FFF;
        // box-shadow: 2px 10px 20px rgba(18, 51, 99, 0.1);
        border: 1px solid #608EE9;
        border-radius: 16px;
        margin-top: 30px;
    }

    ol {
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;

        

        li{
            font-weight: bold;
            ol {
                // font-weight: normal;
                li {
                    font-weight: normal;
                }
            }
        }
    }
      
    li {
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;
    }
      
    li:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6em;    
    }
      
    li li {
        margin: 0;
    }
      
    li li:before {
        content: counters(item, ".") " ";
    }
}