<div class="top-bar">
    <div class="container">
        <div class="top-row">
            <div class="logo-container">
                <a routerLink="/"><img src="assets/img/powervest-white-1.png" /></a>
            </div>
            <div class="right-content">
                <div class="nav-container">
                    <div class="nav-label" routerLink="/home" fragment="about">About Us</div>
                    <div class="nav-label" routerLink="/home" fragment="benefit">Benefits</div>
                    <div class="nav-label" routerLink="/home" fragment="process">Process</div>
                    <div class="nav-label" routerLink="/home" fragment="faq">FAQ</div>
                </div>
                <div class="cta-container">
                    <a routerLink="/login" class="cta-btn green-contrast">Log In</a>
                    <a routerLink="/register" class="cta-btn orange">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
